/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.item {
  background: aqua;
  border: 1px solid #eee1e1;
  padding: 10px;
  height: auto;
  overflow: hidden;
}
.item:hover {
  border: 1px solid #5a0404;
}